In [7]:
import pandas as pd
import sklearn as sk
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import rcParams
%matplotlib inline

import os

In [8]:
os.getcwd()

'/Users/ashutoshfolane/Documents/VIBHUTI/Git_Repos/Python_for_Data_Analysis'

In [9]:
books_df = pd.read_csv('/Users/ashutoshfolane/Documents/VIBHUTI/Git_Repos/Datasets/books.csv')

In [10]:
books_df.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [12]:
short_df = books_df[['book_id','books_count','authors', 'original_title']]
short_df.head(20)

,book_id,books_count,authors,original_title
0,2767052,272,Suzanne Collins,The Hunger Games
1,3,491,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone
2,41865,226,Stephenie Meyer,Twilight
3,2657,487,Harper Lee,To Kill a Mockingbird
4,4671,1356,F. Scott Fitzgerald,The Great Gatsby
5,11870085,226,John Green,The Fault in Our Stars
6,5907,969,J.R.R. Tolkien,The Hobbit or There and Back Again
7,5107,360,J.D. Salinger,The Catcher in the Rye
8,960,311,Dan Brown,Angels & Demons
9,1885,3455,Jane Austen,Pride and Prejudice
10,77203,283,Khaled Hosseini,The Kite Runner
11,13335037,210,Veronica Roth,Divergent
12,5470,995,"George Orwell, Erich Fromm, Celâl Üster",Nineteen Eighty-Four
13,7613,896,George Orwell,Animal Farm: A Fairy Story
14,48855,710,"Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-D...",Het Achterhuis: Dagboekbrieven 14 juni 1942 - ...
15,2429135,274,"Stieg Larsson, Reg Keeland",Män som hatar kvinnor
16,6148028,201,Suzanne Collins,Catching Fire
17,5,376,"J.K. Rowling, Mary GrandPré, Rufus Beck",Harry Potter and the Prisoner of Azkaban
18,34,566,J.R.R. Tolkien,The Fellowship of the Ring
19,7260188,239,Suzanne Collins,Mockingjay

In [15]:
short_df['list_data'] = short_df['original_title'].tolist()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
short_df.head()

,book_id,books_count,authors,original_title,list_data
0,2767052,272,Suzanne Collins,The Hunger Games,The Hunger Games
1,3,491,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone
2,41865,226,Stephenie Meyer,Twilight,Twilight
3,2657,487,Harper Lee,To Kill a Mockingbird,To Kill a Mockingbird
4,4671,1356,F. Scott Fitzgerald,The Great Gatsby,The Great Gatsby